/* Color variables */
:root {
  --color1: #000;
  --color2: #eee;
  --color3: #ccc;
  --color4: rgba(255, 255, 255, 0.5);
  --color5: rgba(0, 0, 0, 0.5);
  --color6: rgb(255, 0, 0);
}
/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: var(--color1);
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.dropdown-menu {
  color: var(--color3);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: var(--color5);
  border: 1px solid var(--color1);
}
.warning,
.warning:hover,
.warning:focus,
.warning:active,
.warning:active:hover,
.warning:active:focus {
  border: 1px solid var(--color1);
}
.danger,
.danger:hover,
.danger:focus {
  border: 1px solid var(--color1);
}
.dropdown-menu {
  color: var(--color3);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: var(--color2);
  border: 1px solid var(--color1);
}
/*
 * Base structure
 */
html,
body {
  height: 100%;
  /* background-color: #333; */
  background: linear-gradient(
    90deg,
    var(--color2),
    var(--color3) 15%,
    var(--color3) 85%,
    var(--color2)
  );
  font-size: 20px;
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: var(--color1);
  text-shadow: 0 0.05rem 0.1rem var(--color4);
}
.cover-container {
  max-width: 42em;
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}
.masthead-brand {
  margin-bottom: 0;
}
.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: var(--color5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: var(--color6);
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: var(--color1);
  border-bottom-color: var(--color1);
}
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}
/*
 * Footer
 */
.mastfoot {
  color: var(--color5);
}
.mainSection {
  width: 75vw;
  max-width: 40em;
}
.badge-primary {
  color: var(--color2);
  background-color: var(--color1);
}
.notfound {
  font-size: 8em;
}
/* Tic-Tac-Toe */
.jumbotron {
  background-color: var(--color6);
  border: 1px solid var(--color1);
}

.square {
  width: 100px;
  height: 100px;
  color: var(--color1);
  font-size: 3em;
  background-color: var(--color2);
  border: 1px solid var(--color1);
  border-radius: 10px;
  margin-right: 1px;
  margin-top: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
}
.square:focus {
  outline: none;
}
